html {
  box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
}

body {
  background: url("images/bg.jpg");
  font-family:verdana, arial, tahoma;
}

.overlay {
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, .5);
  top:0;
  left:0;
  z-index:-1;
}

.maincontainer {
  width:1000px;
  margin:auto;
}

.socialcontainertop {
  display:flex;
  justify-content: flex-end;
}

.socialcontainertop p {
  color:white;


}

.socialcontainertop ul {
  list-style-type:none;
  display:flex;

}

.socialmediatop i {
  width: 50px;
  height: 50px;
  text-align:center;
  line-height:50px;
  font-size:36px;
}

.socialmediabottom a i {
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  display:flex;
  justify-content:space-around;
  margin-right:3px;
  color:white;
}

.socialmediabottom li {
  background:rgb(54, 55, 50);
}

.socialmediabottom a {
  text-decoration:none;
}


.socialcontainerbottom > ul {
  display:flex;
  justify-content:flex-start;
  list-style-type:none;
  padding:0px;
  margin-left:20px;


}

#menu > ul {
  display:flex;
  justify-content:space-between;
  color:red;
  list-style-type:none;
  padding:0;

}

#menu ul > li {
  text-transform:uppercase;
  text-align:center;
  color:white;
  line-height:50px;
  background:rgb(180, 41, 46);
  width:230px;
  height:50px;
  border-bottom:5px solid white;

}

.menuwords li:before, .menuwords li:after {
  content: "\2014";
  margin: 0 12px;

}

#container2 > .articles {
  display:flex;
}

#container3{
  
}

.articles div {
  background-color:white;
  width:300px;
  height:400px;
  padding:0 20px;
}

.articles {
  display:flex;
  justify-content:space-between;
  margin-top:20px;
  margin-bottom:20px;
}

#container4 {
  margin-top:50px;
  padding:5px;
  width:1000px;
  height:auto;
  background:white;
  align-content:center;

}

.contactusform:after {
  content:"";
  display:block;
  clear:both;
}

.contactusform form {
  display:block;
  width:500px;
  margin-top:5px;
  float:right;
  margin-right:20px;

}

#contactform > input {
  margin-top:10px;
  height:50px;
  width:500px;
  border-top-width:3px;
  border-left-width:3px;
  border-top-color:rgb(171, 171, 171);
  border-left-color:rgb(171, 171, 171);
  border-color:rgb(171, 171, 171);


}

#contactform > textarea {
  margin-top:10px;
  height:150px;
  width:500px;
  border-top-width:3px;
  border-left-width:3px;
  border-top-color:rgb(171, 171, 171);
  border-left-color:rgb(171, 171, 171);
  border-color:rgb(171, 171, 171);
}

.words {
  display:inline-block;
  width:460px;
  color:rgb(54, 55, 50);
}

.words h3 {
  padding:10px;
  margin-left:20px;
}

.words p {
  padding:0px;
  margin-left:20px;
}

.slideshow {
  position:relative;
  background:url("images/top-image.png");
  width:100%;
  height:400px;
  background-position:40% 20%;
  border:10px solid white;
}

.radio {
  width:10%;
  margin:auto;
}

.skull {
  position:relative;
  top:60px;
  left:10px;
}

}

#container {
  width:1000px;
  background:red;
  padding:10px;
  margin:auto;
}

#container:after {
  content:"";
  display:block;
  clear:both;
}

.skateboarders {
  position:relative;

}

.skateboarders div {
  color:white;
  width:320px;
  height:250px;
  line-height:30px;
  font-size:30px;
  padding-top:100px;
  font-weight:bold;
  text-align:center;
  float:left;
  border:2px solid white;
}

.skateboarders div:first-child {
  background-image:url("images/sk8er-4.png");
  margin-right:25px;
  background-position:100% 0;
}

.skateboarders div:nth-child(2) {
  background-image:url("images/sk8er-3.png");
  margin-right:25px;

}

.skateboarders div:nth-child(3) {
  background-image:url("images/sk8er-1.png");
  clear:left;
  width:665px;
  padding-top:100px;
  margin-top:25px;
  margin-right:15px;
  background-position:0 90%;
}

.skateboarders div:nth-child(4) {
  background-image:url("images/sk8er-2.png");
  height:525px;
  line-height:20px;
  padding-top:240px;
  margin-top:-250px;
  background-position:80% 10%;
  background-size:700px 550px;

}

.skateboardpic ul {
  display:flex;
  background:white;
  justify-content:space-around;
  list-style:none;
}

.skateboarders .arrow {
  width:100px;
  height:50px;
  font-size:13px;
  background-color:red;
  color:white;
  line-height:40px;
  padding:0;
  position:absolute;
  top:103px;
  left:-125px;
}
